@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:regular);

.bannerphoto{
    margin-top: 20px;
    height: 150px;
    border-radius: 10px;
    background: url('dolphin_pod.jpg'); 
    background-position: right top;
    position: relative;
    box-shadow: 0px 4px 4px 4px #1c1a89;
    margin-bottom: 25px;

}

body {
    background-image: url('Albums Sample_07.jpg');
    color: white;
    font-family: "Indie Flower";
    font-size: 20px;
    text-transform: uppercase;

}

p { 
    color: white;
    font-family: "Lexend Deca";
    display: block;
    
}
    
    


nav {
    display: inline-block;
    width:740px;
    text-align: right;

    

}

nav a:hover {
    color: aquamarine;
    border-bottom: 3px solid blueviolet;



}


nav ul {
    list-style-type: none;
    
}
nav li { 
    float: right;
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
}

nav::
img {
    width: 350px;
    height: 350px;
    border-radius: 80px;
}

h3{
    font-size: 20px;
    font-weight: bolder;
    font-family: "Lexend Deca";
    color: white;
    margin-top: 300px;
    text-align: center;
    border: 3px dotted rgb(82, 194, 160) ;
    width: 400px;
    
}

img {
    width:200px;
    height: 200px;
    border-radius: 40px;
    border: dotted aqua;
    margin-bottom: 40px;
}